#body{
    background-color: #3f3e3e;
    padding: 20px;
    margin: -10px;
    font-family:  sans-serif;
}nav{
  margin-left: 50%;
  font-weight: bold;
}
a{
  text-decoration: none;
  padding: 10px;
  color: rgb(148, 69, 205);
}
.frontEnd{
  font-size: 60px;
  color: rgb(148, 69, 205);
}.frontEnd1{
  font-size: 60px;
  margin-top: -50px;
  color: rgb(251, 251, 251);
}
.bhuvanimg{
  width: 350px;
  height: 370px;
  border-radius: 15px;
  transition: transform 0.7s ease, box-shadow 0.4s ease;
  margin-left: 55%;
  justify-content: end;
  margin-top: -330px;
}.bhuvanimg:hover{
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    }
#getin{
    color: black;
    margin-right: 10px;
    font-weight: bold;
    background-color: #3f3e3e;
    padding: 10px;
    border-radius: 10px;
    border: none;
}#getin:hover{
    border: solid 1px rgb(49, 48, 48);
    color: aliceblue;
    box-shadow: 0px 2px 3px;}
#Browseprojects{
    padding: 10px;
    border: solid 1px gray;
    background-color: #3f3e3e;
    font-weight: bold;
    border-radius: 10px;
    color: aliceblue;
}#Browseprojects:hover{
    box-shadow: 0px 2px 3px;
}.skillitem{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    
}ul{
    list-style: none;
    margin-left: 70px;
    color: white;
}.contactus{
    border-radius: 10%;
    font-size: 15px;
    font-weight: bolder;
    padding: 15px;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    background: linear-gradient(120deg,purple 38%, indigo 80%);
    outline: none;
    border: solid 1px rgb(221, 98, 246);transition: all 0.6s ease-in-out;
    box-shadow:0 23px 20px rgba(0,0,0,0.4);
    margin-left: 500px;
}
.contactus:hover{
    transform: rotateY(10deg) rotateX(10deg) scale(1.10);
    box-shadow:0 10px 20px rgba(208, 46, 226, 0.6);
    transform:scale(1.10);
    background: linear-gradient(45deg, indigo 38%, purple 70%);
}